# RISng CentOS 7.8 Kickstart (role: {{ item }})
install
text
url --url="http://{{ tftp_server_ip }}/{{ spec_repo_relative }}"
repo --name="base" --baseurl="http://{{ tftp_server_ip }}/{{ spec_repo_relative }}"
lang en_US.UTF-8
keyboard --vckeymap=de --xlayouts='de'
timezone Europe/Berlin --isUtc
network --bootproto=dhcp --device=link --activate
rootpw --plaintext risng
user --name=nor --groups=wheel --password=nor --plaintext
firewall --disabled
selinux --permissive
authconfig --enableshadow --passalgo=sha512
bootloader --location=mbr
zerombr
clearpart --all --initlabel
autopart --type=lvm
skipx
firstboot --disable
reboot

%packages --ignoremissing
@core
%end

%post --log=/root/ks-post.log
echo "RISNG_ROLE={{ item }}" > /etc/risng-role
hostnamectl set-hostname {{ item | lower }}-centos78
%end
