# bootentry-pxelinux.cfg.j2 (global PXELINUX template)
LABEL {{ filename_prefix }}
  MENU LABEL {{ menu_title }}
  KERNEL ::{{ kernel_path | regex_replace('^/', '') }}
  APPEND initrd=::{{ initrd_path | regex_replace('^/', '') }} {{ kernel_cmdline }}
